---
# Spinningcubes CodeStyle - Code Formatting Configuration

Language: Cpp
BasedOnStyle: Microsoft

# Indentation
IndentWidth: 4
AccessModifierOffset: -4
IndentAccessModifiers: false
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
NamespaceIndentation: None
UseTab: Never                       # Better diffs

# Line Length 
ColumnLimit: 120                    # 120 chars (widescreen life)


# Braces 
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: false
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
